* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: url("../img/BG/fondo8.gif");
}

.container {
    min-width: 296px;
    max-width: 700px;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

/*---------- NAV ----------*/
header nav {
    background-color: white;
    height: 50px;
    width: 100%;
    top: 0;
    position: fixed;
    box-shadow: 0 1px 5px rgb(33, 33, 33);
    padding: 0 75px 0 75px;
    min-width: 296px;
}

header nav ul li {
    display: inline-block;
    position: relative;
    z-index: 1000;
    list-style: none;
    width: 130px;
    text-align: center;
    margin-left: -4px;
}

header nav ul li:last-child {
    float: right;
}

header nav ul li.active a {
    border-bottom: 5px solid rgb(15, 142, 196);
}

header nav ul li a {
    display: block;
    text-decoration: none;
    border-bottom: 5px solid white;
    padding: 16px 15px 11px 15px;
    color: rgb(135, 135, 135);
}

header nav ul li a:hover {
    padding: 16px 15px 11px 15px;
    color: rgb(15, 142, 196);
    border-bottom: 5px solid rgb(15, 142, 196);

}

header nav ul li a i {
    margin-right: 10px;
}

#logo {
    display: inline-block;
    width: 110px;
    height: 30px;
    vertical-align: middle;
    margin-left: 22%;
}
/*---------- NAV ----------*/

/*---------- BUTTONS ----------*/
.myButton {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    color: #fff;
    background-color: #4d90fe;
    border: 0px;
    text-decoration: none;
    line-height: 36px;
    margin-top: 20px;
}

.myButton:hover {
    background-color: #357ae8;
}
/*---------- BUTTONS ----------*/

/*---------- RESPONSIVE ----------*/
@media screen and (max-width: 800px) {
    #logo {
        margin-left: 7%;
    }
}

@media screen and (max-width: 700px) {
    #logo {
        display: none;
    }
}

@media screen and (max-width: 543px) {
    .nav-text {
        display: none;
    }

    header nav ul li {
        width: 50px;
        height: 50px;
    }
}
/*---------- RESPONSIVE ----------*/
